.home .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.home .intro .left {
  width: 30%;
}

.home .intro .right {
  width: 70%;
  padding: 5px;
}

.home .intro .left h1 {
  font-size: 6em;
}

.home .intro .left p {
  font-size: 2em;
}

.home .intro .right {
  position: relative;
  border: 3px solid;
}

.home .intro .right h2 {
  margin-left: 80px;
  margin-top: 20px;
  position: relative;
}

.home .intro .right h2::before {
  content: "";
  position: absolute;
  border: solid 3px;
  width: 70px;
  top: -5px;
}

.home .intro .img-front {
  width: 90%;
  height: 500px;
  object-fit: cover;
  margin-left: 80px;
  margin-top: 20px;
}

.home .intro .img-behind {
  width: 45%;
  position: absolute;
  top: -70px;
  right: -80px;
  z-index: -1;
  border-radius: 5px;
  opacity: 0.3;
}

.home .btn {
  margin-top: 10px;
  display: inline-block;
  border: 2px solid #000000;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.home .btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.home .service-item {
  margin-bottom: 40px;
  text-align: center;
}

.home .service-item img {
  width: 100%;
  padding: 10px 200px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .home .intro {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .home .intro .left {
    width: 100%;
    margin-top: 50px;
  }

  .home .intro .right {
    width: 100%;
    text-align: center;
  }

  .home .intro .right h2 {
    float: left;
    margin-left: 32px;
    margin-top: 10px;
    position: relative;
  }

  .home .intro .img-front {
    width: 90%;
    height: 350px;
    margin-top: 20px;
    margin-left: auto;
    object-fit: cover;
  }

  .home .intro .img-behind {
    width: 30%;
    position: absolute;
    top: -30px;
    right: -20px;
    z-index: -1;
  }

  .home .service-item img {
    padding: 0;
  }
}

@media (max-width: 550px) {
  .home .intro .left {
    margin-top: 50px;
  }

  .home .intro .right h2 {
    margin-left: 12px;
  }

  .home .intro .img-front {
    width: 95%;
    height: 200px;
    margin-top: 0px;
    margin-left: auto;
    object-fit: cover;
  }

  .home .intro .img-behind {
    width: 30%;
    position: absolute;
    top: -10px;
    right: -30px;
    z-index: -1;
  }
}
